<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<style type="text/css" media="print">
.dontprint
{ display: none; }
</style>


<style>

.system_item {
    padding: 5px;
}

#logo_img {
    width: 44px;
    height: 40px;
    padding-left: 4px;
}

#project_header {
    font-size: 40px;
    font-style: bold;
}

@media print {
    a[href]:after {
      content: none !important;
    }
}

.filter-button {
    width: 100%
}

</style>
{% load static %}

<div style="margin-top: 20px;" class="container">
    <div class="row">
        <div class="col-md-7">
            {% if project_name %}
                <div id="project_header">{{ project_name }}</div>
                <h4>Controlled Document List</h4>
                <br>
            {% endif %}
        </div>
        <div style="padding-top: 10px;" class="col-md-5 text-right">
            CWCO Project Engineering <img id="logo_img" src="{% static 'projects/cwco_logo.jpg' %}">
        </div>
    </div>

    {% load custom_tags %}
    {% autoescape off %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Category Select</h3>
                {% for category in categories %}
                    {% process_category category category_slug system_slug %}
                {% endfor %}
                <a href="?"><b>Reset</b></a><br>
            </div>
            <div class="col-md-6">
                    <h3>System Select</h3>
                    {% for system in systems %}
                        {% process_system system system_slug category_slug %}
                    {% endfor %}
                    <a href="?"><b>Reset</b></a><br>
            </div>
        </div>
    </div>
    {% endautoescape %} 
<br><br>
        <h3>Documents</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-2">Filename</th>
                <th class="col-md-1">Revision</th>
                <th class="col-md-3">Description</th>
                <th class="col-md-2">Doc Category</th>
                <th class="col-md-1">System</th>
                <th class="col-md-1">Doc Type</th>
            </tr>
        {% for doc in controlled_documents %}
            <tr>
                <td>{% if doc.share_url %}
                    <a target="_blank" href="{{ doc.share_url }}">{{ doc.drawing_title }}</a>
                    {% else %}
                    {{ doc.drawing_title }}
                    {% endif %}</td>
                <td>{{ doc.revision_number }}</td>
                <td>{{ doc.description }}</td>
                <td>{{ doc.category.name }}</td>
                <td>{{ doc.system.name }}</td>
                <td>{{ doc.released_file_format|default_if_none:"-" }}</td>
            </tr>
        {% endfor %}
        </table>
</div>