<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css" media="print">
.dontprint
{ display: none; }
</style>


<style>

.system_item {
    padding: 5px;
}

#logo_img {
    width: 44px;
    height: 40px;
    padding-left: 4px;
}

#project_header {
    font-size: 40px;
    font-style: bold;
}

@media print {
    a[href]:after {
      content: none !important;
    }
}

</style>
{% load static %}

<div style="margin-top: 20px;" class="container">
    <div class="row">
        <div class="col-md-7">
            {% if project_name %}
                <div id="project_header">{{ project_name }}</div>
                <h4>Controlled Document List</h4>
                <br>
            {% endif %}
        </div>
        <div style="padding-top: 10px;" class="col-md-5 text-right">
            CWCO Project Engineering <img id="logo_img" src="{% static 'projects/cwco_logo.jpg' %}">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <b>Click on the links to filter by plant system: </b><br><br>
                {% if systems %}
                    {% if category_slug %}
                        <a href="/projects/{{ project.slug }}/controlled-documents/?category={{ category_slug }}">Show All</a>
                    {% else %}
                        <a href="/projects/{{ project.slug }}/controlled-documents/">Show All</a>
                    {% endif %}
                    <br>
                {% for system in systems %}
                    {% if system.system__slug == system_slug %}
                        <b style="font-size: 125%">{{ system.system__name }}</b>
                    {% else %}
                        {% if category_slug %}
                            <a href="?category={{ category_slug }}&system={{ system.system__slug }}">{{ system.system__name }}</a>
                        {% else %}
                            <a href="?system={{ system.system__slug }}">{{ system.system__name }}</a>
                        {% endif %}
                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}
            </div>
            <div class="col-md-6">
                <b>Click on the links to filter by document category: </b><br><br>
            {% if categories %}
                {% if system_slug %}
                    <a href="/projects/{{ project.slug }}/controlled-documents/?system={{ system_slug }}">Show All</a>
                {% else %}
                    <a href="/projects/{{ project.slug }}/controlled-documents/">Show All</a>
                {% endif %}
                <br>
                {% for category in categories %}
                    {% if category.category__slug == category_slug %}
                        <b style="font-size: 125%">{{ category.category__name }}</b>
                    {% else %}
                        {% if system_slug %}
                            <a href="?category={{ category.category__slug }}&system={{ system_slug }}">{{ category.category__name }}</a>
                        {% else %}
                            <a href="?category={{ category.category__slug }}">{{ category.category__name }}</a>
                        {% endif %}
                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>





        <h3>Documents</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-2">Filename</th>
                <th class="col-md-1">Revision</th>
                <th class="col-md-3">Description</th>
                <th class="col-md-1">System</th>
                <th class="col-md-2">Doc Category</th>
                <th class="col-md-1">Doc Type</th>
            </tr>
        {% for doc in controlled_documents %}
            <tr>
                <td>{% if doc.share_url %}
                    <a target="_blank" href="{{ doc.share_url }}">{{ doc.drawing_title }}</a>
                    {% else %}
                    {{ doc.drawing_title }}
                    {% endif %}</td>
                <td>{{ doc.revision_number }}</td>
                <td>{{ doc.description }}</td>
                <td>{{ doc.system.name }}</td>
                <td>{{ doc.category.name }}</td>
                <td>{{ doc.released_file_format|default_if_none:"-" }}</td>
            </tr>
        {% endfor %}
        </table>
</div>
