{% extends './base.html' %}
<style>

</style>
<br>
{% block content %}
<div class="container" id="main">
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% else%}
        {% if project %}
            <h1>{{ project }}</h1>
        {% endif %}
        {% if pid_tag %}
            <h2><b>{{ type }}</b> {{ pid_tag }}</h2>
        {% endif %}
        <br>
        <!-- template for instrument tag display -->
        {% if type == "Instrument" %}
            <table class="table table-striped">
                <tr><td><b>Description:</b></td><td>{{ item.name|default_if_none:"-" }}</td></tr>
                <tr><td><b>System:</b></td><td>{{ item.system|default_if_none:"-" }}</td></tr>
                <tr><td><b>Device Brand Name:</b></td><td>{{ item.brand_name|default_if_none:"-" }}</td></tr>
                <tr><td><b>Model Number:</b></td><td>{{ item.model_number|default_if_none:"-" }}</td></tr>
                <tr><td><b>Detailed Description:</b></td><td>{{ item.detailed_description|default_if_none:"-" }}</td></tr>
                <tr><td><b>Connection Size:</b></td><td>{{ item.connection_size |default_if_none:"-" }} {{ item.connection_size.units |default_if_none:"" }}</td></tr>                
            </table>
        {% endif %}
        <!-- template for valve tag display -->
        {% if type == "Valve" %}
            <table class="table table-striped">
                <tr><td><b>Description:</b></td><td>{{ item.name|default_if_none:"-" }}</td></tr>
                <tr><td><b>System:</b></td><td>{{ item.system|default_if_none:"-" }}</td></tr>
                <tr><td><b>Device Brand Name:</b></td><td>{{ item.vendor|default_if_none:"-" }}</td></tr>
                <tr><td><b>Model Number:</b></td><td>{{ item.valve_model|default_if_none:"-" }}</td></tr>
                <tr><td><b>Detailed Description:</b></td><td>{{ item.detailed_description|default_if_none:"-" }}</td></tr>
                <tr><td><b>Connection Size:</b></td><td>{{ item.connection_size |default_if_none:"-" }} {{ item.connection_size.units |default_if_none:"" }}</td></tr>                               
            </table>
        {% endif %}
        <!-- template for pump tag display -->
        {% if type == "Pump" %}
            <table class="table table-striped">
                <tr><td><b>Description:</b></td><td>{{ item.name|default_if_none:"-" }}</td></tr>
                <tr><td><b>System:</b></td><td>{{ item.system|default_if_none:"-" }}</td></tr>
                <tr><td><b>Detailed Description:</b></td><td>{{ item.detailed_description|default_if_none:"-" }}</td></tr>            </table>
        {% endif %}
        <!-- template for tank tag display -->
        {% if type == "Tank" %}
            <table class="table table-striped">
                <tr><td><b>Description:</b></td><td>{{ item.name|default_if_none:"-" }}</td></tr>
                <tr><td><b>System:</b></td><td>{{ item.system|default_if_none:"-" }}</td></tr>
                <tr><td><b>Material:</b></td><td>{{ item.material|default_if_none:"-" }}</td></tr>
                <tr><td><b>Capacity:</b></td><td>{{ item.capacity|default_if_none:"-" }} {{ item.capacity_units|default_if_none:"-" }}</td></tr>
                <tr><td><b>Detailed Description:</b></td><td>{{ item.detailed_description|default_if_none:"-" }}</td></tr>
            </table>
        {% endif %}
        <!-- template for pipe tag display -->
        {% if type == "Pipe" %}
            Pipe details here
        {% endif %}
        <!-- template for equipment tag display -->
        {% if type == "Equipment" %}
        <table class="table table-striped">
            <tr><td><b>Description:</b></td><td>{{ item.name|default_if_none:"-" }}</td></tr>
            <tr><td><b>System:</b></td><td>{{ item.system|default_if_none:"-" }}</td></tr>
            <tr><td><b>Detailed Description:</b></td><td>{{ item.detailed_description|default_if_none:"-" }}</td></tr>
            </table>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}
