<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css" media="print">
.dontprint
{ display: none; }
</style>


<style>

.system_item {
    padding: 5px;
}

#logo_img {
    width: 44px;
    height: 40px;
    padding-left: 4px;
}

#project_header {
    font-size: 40px;
    font-style: bold;
}

@media print {
    a[href]:after {
      content: none !important;
    }
}

</style>
 {% load static %}

<div style="margin-top: 20px;" class="container">
    <div class="row">
        <div class="col-md-7">
            {% if project_name %}
                <span id="project_header">{{ project_name }}</span>
            {% endif %}
        </div>
        <div style="padding-top: 10px;" class="col-md-5 text-right">
            CWCO Project Engineering <img id="logo_img" src="{% static 'projects/cwco_logo.jpg' %}">
        </div>
    </div>
    

    <span class="dontprint">
        {% if systems %}
            Click a system to filter the items shown:
            <br>
            {% if system_slug %}
                <span class="system_item"><a href="{% url 'tags_list' project_slug %}">List All Systems</a>
            {% endif %}
            {% for system in systems %}
                {% if system.slug == system_slug %}
                    <span class="system_item">{{ system.name }}</span>
                {% else %}
                    <span class="system_item"><a href="{% url 'tags_list' project_slug system.slug %}">{{ system.name }}</a></span>
                {% endif %}    
            {% endfor %}
        {% endif %}
    </span>
    {% if system_name %}
        <h2>{{ system_name }}</h2>
    {% endif %}

    {%  if tag_prefix %}
        <h3>{{ tag_prefix }}</h3>
    {% endif %}

    {% if instruments %}
        <h3>Instruments</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-4">PID Tag #</th>
                <th class="col-md-3">System</th>
            </tr>
        {% for instrument in instruments %}
            <tr>
                <td><a href="{% url 'tag_detail' project_slug instrument.full_pid_tag_number %}">{{ instrument.name }}</a></td>
                <td><a href="{% url 'tag_detail' project_slug instrument.full_pid_tag_number %}">{{ instrument.full_pid_tag_number }}</a></td>
                <td>{{ instrument.system }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if valves %}
        <h3>Valves</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-2">PID Tag #</th>
                <th class="col-md-2">Nominal Size</th>
                <th class="col-md-3">System</th>
            </tr>
        {% for valve in valves %}
            <tr>
                <td><a href="{% url 'tag_detail' project_slug valve.full_pid_tag_number %}">{{ valve.name }}</a></td>
                <td><a href="{% url 'tag_detail' project_slug valve.full_pid_tag_number %}">{{ valve.full_pid_tag_number }}</a></td>
                <td>{% if valve.connection_size %}{{ valve.connection_size }} {{valve.connection_size.units }}{% else %}-{% endif %}
                <td>{{ valve.system }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if pumps %}
        <h3>Pumps</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-4">PID Tag #</th>
                <th class="col-md-3">System</th>
            </tr>
        {% for pump in pumps %}
            <tr>
                <td><a href="{% url 'tag_detail' project_slug pump.full_pid_tag_number %}">{{ pump.name }}</a></td>
                <td><a href="{% url 'tag_detail' project_slug pump.full_pid_tag_number %}">{{ pump.full_pid_tag_number }}</a></td>
                <td>{{ pump.system }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if pipes %}
        <h3>Pipes</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-4">PID Tag #</th>
                <th class="col-md-3">System</th>
            </tr>
        {% for pipe in pipes %}
            <tr>
                <td><a href="{% url 'tag_detail' project_slug pipe.full_pid_tag_number %}">{{ pipe.name }}</a></td>
                <td><a href="{% url 'tag_detail' project_slug pipe.full_pid_tag_number %}">{{ pipe.full_pid_tag_number }}</a></td>
                <td>{{ pipe.system }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if tanks %}
        <h3>Tanks</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-4">PID Tag #</th>
                <th class="col-md-3">System</th>
            </tr>
        {% for tank in tanks %}
            <tr>
                <td><a href="{% url 'tag_detail' project_slug tank.full_pid_tag_number %}">{{ tank.name }}</a></td>
                <td><a href="{% url 'tag_detail' project_slug tank.full_pid_tag_number %}">{{ tank.full_pid_tag_number }}</a></td>
                <td>{{ tank.system }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if equipment %}
        <h3>Misc. Equipment</h3>
        <table class="table table-striped">
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-4">PID Tag #</th>
                <th class="col-md-3">System</th>
            </tr>
        {% for item in equipment %}
            <tr>
                <td><a href="{% url 'tag_detail' project_slug item.full_pid_tag_number %}">{{ item.name }}</a></td>
                <td><a href="{% url 'tag_detail' project_slug item.full_pid_tag_number %}">{{ item.full_pid_tag_number }}</a></td>
                <td>{{ item.system }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>