{% if run %}

<h3>{{ run.location }}</h3><h4>{{ run.name }}</h4>

<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}

{% for point in run.points.all %}
{{ point.name }}
<br>{{ point.group }}
<br>{{ point.group.location }}

<input type="text">{{ point.units }}<br>

<!-- <p><input type="text"></input> -->

{{ point.low }} -> {{ point.lowlow }}<br>
{{ point.high }} -> {{ point.highhigh }}<br>
</p>
</div>
{% endfor %}


<input type='submit' value='Submit' />

{% else %}
<p>No runs are available.</p>
{% endif %}